*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    margin: 0 auto;
}

.a60{
    width: 100%;
    height: 60%;
    color: black;
    object-fit: cover;
}
.a60 img{
    width: 100%;
    height: 100%;
}
.a40{
    min-height: 40%;
    min-width: 30%;
    padding: 0px 10px;
    color: black;
}
.a40 h2{
    margin: 5px 0px;
}

.a40 button{
    margin: 15px 0px;
    width: 140px;
    height: 30px;
    background-color: sandybrown;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html{
    color: green;
}

.css{
    color: cyan;
}

.js{
    color: yellow;
}

.php{
    color: blue;
}

.default{
    color: gray;
}
.containerTags{
    display: flex;
    background-color: black;
    justify-content: space-around;
    opacity: 70%;
}